

@font-face {
  font-family: 'MyCustomFont';  
  src: url('/fonts/RubikWetPaint-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@media (max-width: 1000px) {
  .header .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
    .header ul{
        display: block;
        font-size: 10px;
        margin: 0;
    }
        .header ul li{
            margin: 0;
            text-align: center;
        }
}
